@import 'tailwindcss';

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-roboto: Roboto;
}

@font-face {
  src: url('/fonts/Roboto.ttf');
  font-family: Roboto;
}
